@import "colors";
@import "utilities";

.animate {
  transition: all .1s;
  -webkit-transition: all .1s;
}

.btn {
  position: relative;
  padding: single-px-to-rem(10) single-px-to-rem(40);
  margin: 0 single-px-to-rem(10) single-px-to-rem(10) 0;
  float: left;
  border-radius: single-px-to-rem(10);
  font-size: 25px;
  color: $white;
  text-decoration: none;

  &.blue {
    background-color: $blue;
    border-bottom: single-px-to-rem(5) solid $blue;
    text-shadow: 0 -single-px-to-rem(-2) $blue;
  }

  &.white {
    background-color: $white;
    border-bottom: single-px-to-rem(5) solid $white;
    text-shadow: 0 -single-px-to-rem(-2) $white;
    padding: 0;
    color: black;
  }

  &:disabled {
    opacity: .2;
    pointer-events: none;
  }

  &:active,
  &:focus,
  &:hover {
    transform: translate(0px, 5px);
    -webkit-transform: translate(0px, 5px);
    border-bottom: single-px-to-rem(1) solid;
  }
}
